////
/// Content
/// Simple list
////

@import 'utils/shared/layout';
@import 'components/StackedList/props';

// using an arbitrary width until I have time to fix the `columns` function
$simple-list-width: 42rem;

.Nested {
  @include centered-width(columns(5));
}

.StackedListItem .NestedList{
  padding-left: 60px;
}
.StackedListItem--isDraggable:focus+.StackedListItem .StackedListContent:before,
.StackedListItem--isDraggable:hover+.StackedListItem .StackedListContent:before {
    background-color: transparent;
    color: transparent;
}
.StackedListItem--isDraggable:focus .StackedListContent, .StackedListItem--isDraggable:hover .StackedListContent {
    color: black;
    background: white;
}

.StackedListContent:hover, .StackedListContent:hover~.NestedList .StackedListItem--isDraggable .StackedListContent{
    color: grey !important;
    background: white;
    cursor: pointer;
}

.draggable-mirror {
    color: rebeccapurple !important;
}
